// Colors
$color-accent: #d2ad81;
$color-bg: #f5f5f8;
$color-body: #353844;
$color-brand: #596ac8;
$color-dark-blue: #1b264f;
$color-white: #fff;

//Spacing
$spacing-sm: 6px;
$spacing-md: 12px;
$spacing-lg: 24px;
$spacing-xl: 48px;
$spacing-2xl: 96px;

// Borders
$border-radius: 8px;
$border-width: 0;

// Button frame
$btn-frame-x: 58px;
$btn-frame-y: 12px;
